.navbar-name {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    color: #ffffff !important;
    text-decoration: none !IMPORTANT;
    cursor: pointer;
}
.navbar-default.navbar-top .navbar-nav > li > a > .fa {
    margin-right: 5px;
    font-size: 14px;
}
.navbar-default.navbar-main .navbar-nav > li > a:hover {
    background-color: #3a94d4;
}
.navbar-default.navbar-main .navbar-nav > .open > a, .navbar-default.navbar-main .navbar-nav > .open > a:hover, .navbar-default.navbar-main .navbar-nav > .open > a:focus {
    background-color: #3a94d4;
    color: #ffffff;
}
.navbar-default.navbar-main .navbar-nav > li > a, .navbar-default.navbar-main .navbar-nav > li > a:hover, .navbar-default.navbar-main .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default.navbar-main .navbar-nav > li > a > .fa {
    font-size: 13px;
    margin-right: 5px;
}
.table.dataTable{
    border-collapse: collapse;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px solid #a7a7a7;
}

#datatable th, #datatable td{
    vertical-align: middle
}
.modal-footer {
    margin-top: 0;
    padding: 10px 20px 10px;
}